In [1]:
import pandas as pd
pd.__version__

'2.0.2'

In [2]:
print(pd.__name__)

pandas

In [8]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [20]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
#display(countries)
#print(countries.loc[['KZ','UA']])
#print(countries.iloc[1:3])

print(countries[['UK', 'US', 'UA']])
print(countries[[0, 2, 4]])

UK     Англия
US        США
UA    Украина
Name: countries, dtype: object
UK     Англия
US        США
UA    Украина
Name: countries, dtype: object

In [23]:
my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])
display(my_series)
display(my_series[['b','c','e']])
display(my_series[[1,2,4]])

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

b    6
c    7
e    9
dtype: int64

b    6
c    7
e    9
dtype: int64

Задание 2.4 (External resource)

In [30]:
import pandas as pd
#names = ['chlorhexidine', 'cyntomycin', 'afobazol'] 
#counts = [15, 18, 7]
def create_medications(names, counts):
    medications=pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    result=medications.loc[name]/sum(medications)*100
    return result
print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))
medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])
print(medications)

35.294117647058826
chlorhexidine    26
cyntomycin       18
afobazol          7
dtype: int64

СОЗДАНИЕ DATAFRAME

СПОСОБ 1

Самый простой способ создания DataFrame — из словаря, ключами которого являются имена столбцов будущей таблицы, а значениями — списки, в которых хранится содержимое этих столбцов:

In [35]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

СПОСОБ 2

Также DataFrame можно создать из вложенного списка, внутренние списки которого будут являться строками новой таблицы:

In [51]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

#display(countries_df)
#display(countries_df.mean(axis=0, numeric_only=True))
#display(countries_df.mean(axis=1, numeric_only=True))
#display(countries_df.population)
#display(countries_df['population'])
#display(type(countries_df.population))
#display(type(countries_df['population']))
display(countries_df.loc['UK','square'])
display(countries_df.iloc[0,[0,1,2]])
display(countries_df.iloc[0:2,1:3])

133396

country       Англия
population     56.29
square        133396
Name: UK, dtype: object

    population   square
UK       56.29   133396
CA       38.05  9984670

Задание 3.5 (External resource)

In [64]:
import pandas as pd
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    df=pd.DataFrame({'Income':income, 'Expenses':expenses},
    index=years)
    return df    
    
def get_profit(df, year):
    if year in df.index:
        profit=df.loc[year,'Income']-df.loc[year,'Expenses']
    else:
        profit = None
    return profit

print(create_companyDF(income = [612, 516, 329, 158], expenses = [136, 163, 250, 361], years = [2017, 2018, 2019, 2020]))
print(get_profit(year = 2018, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

      Income  Expenses
2017     612       136
2018     516       163
2019     329       250
2020     158       361
353

4. Работа с различными источниками данных в Pandas

Основные параметры метода DataFrame to_csv()

path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
sep — разделитель данных в выходном файле (по умолчанию ',');
decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

In [88]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')
#countries_df.to_excel('data/countries.xlsx')
#display(countries_df)

Основные параметры функции read_csv()

filepath_or_buffer — путь до файла, который мы читаем;
sep — разделитель данных (по умолчанию ',');
decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');
names — список с названиями столбцов для чтения;
skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).

In [1]:
import pandas as pd
#countries_data = pd.read_csv('data/countries.csv', sep=';')
countries_data=pd.read_excel('data/countries.xlsx', names=['country','population'])
#display(countries_data)
display(countries_data)

             country  population
0 Англия       56.29      133396
1 Канада       38.05     9984670
2 США         322.28     9826630
3 Россия      146.24    17125191
4 Украина      45.50      603628
5 Беларусь      9.50      207600
6 Казахстан    17.04     2724902

In [ ]:
#data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
#data.to_csv('data/data.csv', index=False, sep=';')
data = pd.read_csv('data/data.csv', sep=';')

display(data)

ЗАПИСЬ И ЧТЕНИЕ В ДРУГИХ ФОРМАТАХ

Методы для записи таблиц в файлы отличных от csv форматов:

to_excel() — запись DataFrame в формат Excel-таблицы (.xlsx);
to_json() — запись DataFrame в формат JSON (.json);
to_xml() — запись DataFrame в формат XML-документа (.xml);
to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

Методы для чтения таблиц из файлов в отличных от csv форматах:

read_excel() — чтение из формата Excel-таблицы (.xlsx) в DataFrame;
read_json() — чтение из формата JSON (.json) в DataFrame;
read_xml() — чтение из формата XML-документа (.xml) в DataFrame;
read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).

In [121]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#display(melb_data)
#display(melb_data.loc[15]) # только 15 строка!!!
#display(melb_data.loc[15,'Price'])# конкретная колонка в 15 строке
#display(melb_data.loc[90])
#display(melb_data.loc[90,'Date'])
#display(melb_data.loc[:,'Date'])
display(melb_data.loc[:,'Price'])
#display(round(   ((melb_data.loc[3521,'Landsize'])  /   (melb_data.loc[1690,'Landsize'])),10   ))

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

6. Исследование структуры DataFrame

In [204]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#display(melb_data.head())
#melb_data.tail(7)
display(melb_data.shape)
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
#melb_data.info()
#melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
#melb_data.describe(include=['object'])
#melb_data['Regionname'].value_counts(normalize=True)
#melb_data.describe().loc[:, ['Distance']]
#melb_data['Type'].value_counts(normalize=True)
#print(melb_data['Price'].mean()) #Вычислим среднюю цену на объекты недвижимости:
#print(melb_data['Car'].max())# Вычислим среднюю цену на объекты недвижимости

#rate = 0.12
#income = melb_data['Price'].sum() * rate
#print('Total income of real estate agencies:', round(income, 2))

#print(melb_data['Rooms'].mode())
#melb_data['Regionname'].mode()
#melb_data['Price'].std()
#melb_data['Propertycount'].max()
#round(melb_data['Distance'].std())

landsize_median = melb_data['BuildingArea'].median() 
landsize_mean =  melb_data['BuildingArea'].mean()
#print(   round ((abs   ((landsize_median-landsize_mean)  /landsize_mean)   )*100,2))
#melb_data['Bedroom'].mode()
mask=melb_data['Price']>2000000
#mask 
#display(melb_data[mask].head())
#melb_data[melb_data['Price']>2000000] 
melb_data[melb_data['Rooms']==3].shape
melb_data[(melb_data['Rooms']==3)&(melb_data['Price']<300000)].shape
melb_data[((melb_data['Rooms']==3)| (melb_data['BuildingArea']>100))&(melb_data['Price']<300000)].shape
melb_data[melb_data['Type']=='t']['Rooms'].max()
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

melb_data[melb_data['Bathroom']==0].shape[0]# Задание 8.1
melb_data[(melb_data['SellerG']=='Nelson')&(melb_data['Price']>3000000)].shape[0] #Задание 8.2

melb_data[(melb_data['BuildingArea']==0)]['Price'].min() #Задание 8.3

melb_data[((melb_data['Rooms']==3)| (melb_data['BuildingArea']>100))&(melb_data['Price']<300000)].shape
round(melb_data[(melb_data['Price']<1000000) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt']>2015))]['Price'].mean())#Задание 8.4

melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode() #Задание 8.5

(13580, 23)

0    Northern Metropolitan
Name: Regionname, dtype: object

 9. Закрепление знаний

In [228]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
#display(student_data.head())
#display(student_data.tail())
#display(student_data.shape[0]) #Задание 9.1
#display(student_data.loc[155,'writing score'])#Задание 9.2
#display(student_data.info()) #Задание 9.3, 9.4, 9.5
#display(round(student_data['math score'].mean())) #Задание 9.6
#display(student_data['race/ethnicity'].mode()) #Задание 9.7
#display(round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())) #Задание 9.8
#display(student_data[student_data['math score']==0].shape[0]) #Задание 9.9

#mask1= round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()) #Задание 9.10
#mask2=round(student_data[student_data['lunch'] == 'standard']['math score'].mean()) #Задание 9.10
#display(mask2>mask1) #Задание 9.10

#display(student_data['parental level of education'].value_counts(normalize = True)) #Задание 9.11

mask3 = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mask4 = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(mask3 - mask4)))

6